Pi to Bluemix/pi-flows.json
[
    {
        "id": "6b92d704.4a4ee8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "90fd7d2a.e7455",
        "type": "inject",
        "z": "6b92d704.4a4ee8",
        "name": "injector",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "20064193.710c8e"
            ]
        ]
    },
    {
        "id": "20064193.710c8e",
        "type": "random",
        "z": "6b92d704.4a4ee8",
        "name": "",
        "low": "1",
        "high": "10",
        "inte": "true",
        "property": "payload",
        "x": 280,
        "y": 80,
        "wires": [
            [
                "8d5e1d65.f9baa"
            ]
        ]
    },
    {
        "id": "8d5e1d65.f9baa",
        "type": "function",
        "z": "6b92d704.4a4ee8",
        "name": "",
        "func": "msg.payload = { 'd' : { 'random' : msg.payload }};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 80,
        "wires": [
            [
                "30ea6759.068518",
                "2178caa4.b39606"
            ]
        ]
    },
    {
        "id": "30ea6759.068518",
        "type": "debug",
        "z": "6b92d704.4a4ee8",
        "name": "payloadDebug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 600,
        "y": 80,
        "wires": []
    },
    {
        "id": "2178caa4.b39606",
        "type": "wiotp out",
        "z": "6b92d704.4a4ee8",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "af9d32e6.4a661",
        "deviceType": "",
        "deviceId": "",
        "event": "raspberryPI",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "af9d32e6.4a661",
        "type": "wiotp-credentials",
        "z": "",
        "name": "",
        "org": "513ufx",
        "serverName": "",
        "devType": "Gateway",
        "devId": "raspberrypiGW",
        "keepalive": "60",
        "cleansession": true,
        "tls": "",
        "usetls": false
    }
]